@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Pixelify+Sans:wght@500&family=Playfair+Display&family=Poppins:wght@100&family=Roboto+Condensed:wght@300&display=swap');

html, body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    height: 2600px;
    font-family: 'Oswald', sans-serif;
font-family: 'Pixelify Sans';
overflow-x: hidden;

/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
}

h2{
  color: white;
  font-weight: 400;
   
}


.nav-logo{
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo{
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: 25px;
}

.logo img{
 height: 2rem;
 width: 2rem;
}

h2 span{
  font-weight: bold;
}

nav{
  padding: .4rem;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a{
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  
}


.links{
  position: absolute;
  top: -700px;
  left: -2000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: all 1.6s ease;
  
}
.links a{
  color: black;
  font-size: 2rem;
  display: block;

}

.links-active{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  z-index: 2;
}

.links-active a{
color: #fff;
}

.links a:hover{
  /* width: 50%; */
  background-color: rgb(73, 32, 8);
  color: rgb(20, 235, 0);
  /* padding: 15px; */
  border-radius: 5px;
}



@media only screen and (min-width: 1024px){
  .burguer{
    display: none;
  }

  .links{
    position: initial;
    margin: 0;
  }
  .links a{
    font-size: 1rem;
    color: white;
    display: inline;
    
  }
}
